.noteList{
  max-width: 800px;
  background-color: #f1e7e6;
  margin: 0 auto;
}
.noteList > h1 {
  text-align: center;
  padding: 20px;
}
.error{
  text-align: center;
  color: red;
}

.filter {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}
