.noteList{
  width: 800px;
  background-color: #f1e7e6;
  margin: 0 auto;
}
.noteList > h1 {
  text-align: center;
  padding: 20px;
}
.error{
  text-align: center;
  color: red;
}
.note{
  margin: 10px 0;
}

.note-done {
  text-decoration-line: line-through;
}

.addNote{
  margin: 20px 0px 50px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > mat-form-field {
  width: 75%;
  margin: 0 auto;
}

.example-container > button {
  /*width: 100%;*/
  width: 150px;
  background-color: #e8c4b6;
  margin: 0 auto;
}
