<div class="noteList">
  <h1>My notes</h1>
    <div *ngIf="error" class="error">
      <h4>{{error}}</h4>
    </div>
  <app-note-form [noteModel]="noteModel" (note)="addNote($event)"></app-note-form>

  <div *ngIf="noteList?.length" class="filter">
    <button mat-stroked-button (click)="setCategory('all')">All</button>
    <button mat-stroked-button (click)="setCategory('new')">To do</button>
    <button mat-stroked-button (click)="setCategory('done')">Done</button>
  </div>

  <app-single-note (delete)="deleteNote($event)"
                   (edit)="updateNote($event, $event.status)"
                   (status)="updateStatus($event)"
                   *ngFor="let note of noteList | category: category"
                   [note]="note"></app-single-note>
</div>
